<div class='logo'>
	<h1>Time Tracker</h1>
</div>

<ul class="custom-nav nav nav-tabs">
	<li class="<%= active?(root_path) %>">
		<%= link_to "Home", root_path %>
	</li>
	<li class="<%= active?(posts_path) %>">
		<%= link_to "Time Entries", posts_path %>
	</li>
	<li class="<%= active?(new_post_path) %>">
		<%= link_to "Add New Entry", new_post_path, id: 'new_post_from_nav' %>
	</li>
	<li class="dropdown pull-right">
		 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			<li>
				<%= link_to "TODO: Admin Dashboard", root_path %>
			</li>
			<li class="divider">
			</li>
			<li>
				<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			</li>
		</ul>
	</li>
</ul>